/*  ::: WishBox classes :::  */
.wishes_container{
	border:#333333 solid 1px;
	width:710px;
	margin:10px 5px;
	background-color:#3F3F3F;
	font-size:90%;
}
.wishes_container_head{
	background:url(../../../img/dzine/bg/bg_box_right_head.jpg) repeat-x;
	margin:1px;
	padding:2px;
}
.wishes_container_body{
	background-color:#FFFFFF;
	margin:1px;
	padding:2px;
}
.wishes_no_comment{
	font-weight:bold;
	font-size:80%;
}
/**/