@CHARSET "ISO-8859-1";
.dailyquot{
	margin:0;
	padding:0;
	text-indent:0;
}

.dailyquot li{
	margin-left:0;
	padding:0;
	text-indent:0;
	list-style-type:none;
}

.dailyquotOdd{
	margin-right:15px;
}
.dailyquotEven{
	margin-right:15px;
}