@import	"../../../scripts/cssfiles/imports/palette.scss";
@import	"../../../scripts/cssfiles/imports/vars.scss";
@import	"../../../scripts/cssfiles/imports/mixins.scss";

.frmLabel{
	text-align: left;
	margin: 10px 0;
	font-weight: bold;
}

.user_connect{
	margin: 10px;
	border: #ccc 1px solid;	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.18);
}

.user_connect_title{
	text-align: center;
	font-weight: bold;
	color: #FFF;
	font-size: 1.39em;	
	background-color: #559ec1;
	padding: 0.5em 0;
	i{
		margin-right: 10px;
	}
}

.user_connect_content{
	padding: 20px;
}
.frmLine{
	input[type="text"]{
		padding-left: 40px;
	}
	input[type="password"]{
		padding-left: 40px;
	}
	position: relative;
	i{
		position: absolute;
		left: 10px;
		top: 8px;
		padding: 9px 8px;
		color: #aaa;
		transition: .5s;
	}
}